%h1 User registration form
= form_for User.new do |f|
  %p
    First name
    %br
      = f.text_field :first_name
  %p
    Last name
    %br
    = f.text_field :last_name
  %p
    E-mail
    %br
    = f.text_field :email
  %p
    Country
    %br
    = f.text_field :user_country
  %p
    State
    %br
    = f.text_field :user_state
  %p
    City
    %br
    = f.text_field :user_city
  %p
    First name
    %br
    = f.text_field :user_address
  %p= f.submit "Создать товар"
%---------------------------------------------------------------------






.col-md-12
  =label_tag("First name*")
  %p{:title => "Your first name"}
    %input{:maxlength => "20", :name => "user_first_name", :pattern => "^[ 0-9]+$", :size => "20", :value => "Jon", :type => "text", :class => "input_field"}
    .error_box_first_name

  =label_tag("Last name*")
  %p{:title => "Your last name"}
    %input{:maxlength => "20", :name => "user_last_name", :pattern => "^[ 0-9]+$", :size => "20", :value => "Smit", :type => "text", :class => "input_field"}
    .error_box_last_name

  =label_tag("E-mail*")
  %p{:title => "Your e-mail adress"}
    %input{:maxlength => "20", :name => "user_email", :pattern => "^[ 0-9]+$", :size => "20", :value => "asd@gmail.com", :type => "text", :class => "input_field"}
    .error_box_email
%p.required_fields_color
  * - required fields
.col-md-12
  %h3 Delivery address
.col-md-12
  =label_tag("Country")
  %p
    %input{:maxlength => "20", :name => "user_country", :pattern => "^[ 0-9]+$", :size => "20", :value => "", :type => "text", :class => "input_field"}

  =label_tag("State")
  %p
    %input{:maxlength => "20", :name => "user_state", :pattern => "^[ 0-9]+$", :size => "20", :value => "", :type => "text", :class => "input_field"}

  =label_tag("City")
  %p
    %input{:maxlength => "20", :name => "user_city", :pattern => "^[ 0-9]+$", :size => "20", :value => "", :type => "text", :class => "input_field"}

  =label_tag("Address")
  %p
    %input{:maxlength => "20", :name => "user_address", :pattern => "^[ 0-9]+$", :size => "20", :value => "", :type => "text", :class => "input_field"}

%form{:action => "users", :method => "POST"}
  %input{:name => "send", :type => "button", :value => "Registration", :class => "btn btn-success", :id => "regis"}